services:
  - type: web
    name: better-talk-api
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_USERNAME
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: PORT
        value: 8080
    healthCheckPath: /api/health
